name: 刷步数

on:
  push:
    branches: [ main ]
  schedule:
    - cron: 30 0 * * *


jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: 初始化Python
        uses: actions/setup-python@v3
        with:
          python-version: 3.8

      - name: 开始
        run: |
          pip install requests
          pmode='${{ secrets.PMODE }}'
          pkey='${{ secrets.PKEY }}'
          user='${{ secrets.USER }}'
          pwd='${{ secrets.PWD }}'
          step='${{ secrets.STEP }}'

          python3 main.py ${pmode} ${pkey} ${user} ${pwd} ${step}
